.wrapper {
    /* box-sizing: border-box; */
    margin: 0 auto;
    max-width: auto;
    max-height: 100%;
    font-family: 'Raleway', sans-serif;
    /* width: 90%; */
    background-color: #f2f2f2;
}

/* nav {
    display: flex;
    justify-content: flex-end;
    background-color: #3c3b3a; */


/* } */


.navbar {
    /* max-width: 100%; */
    /* display: flex; */
    /* justify-content: flex-end; */
    background-color: #3c3b3a;
    /* max-height: 50px; */
}

.button {

    background-color: #26a682;
    height: 30px;
    width: 150px;
    border-radius: 15px;
    text-align: center;


}

ul {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    float:right;
    /* gap: 16px; */

}

.logo {
    /* display: flex; */
    /* flex-direction: start; */
    width: 150px;
    height: 50px;
}
.dcontainer{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.discoverimg{
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 750px; 
	vertical-align: middle; 
	/* overflow: hidden;  */
}
.svgcontent{
 
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
  
}
.Discover{
    margin-left: 50px;
}
    .icons{
        display: grid;
        grid-template-columns: 4fr 4fr 4fr 4fr;
        align-content: center;
        grid-template-rows: 1fr 1fr;
    }
.iconb{
    justify-self: center;
}

/* background-color: #f2f2f2; */